body{
    text-align: center;
    font: 100% arial;
    background-color: antiquewhite;
    justify-content: center;
}
.caja1{
    display: grid;
    
    height: 150px;
    border-color: rgb(0, 0, 0);
    border-width: 5px;
    border-style: solid;
    justify-content: center;
    
    
}
