.informacion{
    background-color: rgb(11, 63, 1);
    color: aliceblue;
   

}
.todo{
    
    margin-top: 5%;
    margin-left: 5%; 
    margin-right: 5%;
    
}
* { 
    margin:  0;
    padding: 0;
    box-sizing: border-box;

}